body{
    margin:0;
    padding:0;
}

.menu-container{
    position: absolute;
    top:0;
    width: 350px;
    left: calc(50% - 175px);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #b8b8b1;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_button{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    padding: 6px;
    cursor: pointer;
    background: transparent;
    box-sizing: border-box;    
}

.menu_button:hover{
    background: #c1cdd7;
}

.menu_button__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
  
  /* inset rectangle inside the button */


.menu_button_active{
    width: 35px;
     /* rectangle borderline */
    height: 35px;
    border: 4px solid black;
    border: 2px;
}